---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
  class?: string;
}

const { page, class: className } = Astro.props;
const { currentPage, lastPage, url } = page;
const { prev, next } = url;
---

{
  (prev || next) && (
    <div class:list={["flex justify-between mt-12", className]}>
      {prev ? (
        <a
          href={prev}
          class="inline-flex items-center px-5 py-2.5 text-sm font-semibold text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-primary transition-all duration-300 shadow-sm hover:shadow"
        >
          <Icon name="tabler:arrow-left" class="w-4 h-4 mr-2" />
          Trang trước
        </a>
      ) : (
        <span />
      )}
      <div class="flex items-center text-sm font-medium text-gray-500">
        Trang {currentPage} / {lastPage}
      </div>
      {next ? (
        <a
          href={next}
          class="inline-flex items-center px-5 py-2.5 text-sm font-semibold text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-primary transition-all duration-300 shadow-sm hover:shadow"
        >
          Trang sau
          <Icon name="tabler:arrow-right" class="w-4 h-4 ml-2" />
        </a>
      ) : (
        <span />
      )}
    </div>
  )
}
